*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto',sans-serif;
}
#main{
    overflow: hidden;
    width: 100%;
}
#head{
    box-shadow:5px;
    background-color:chocolate ;
    width: 40%;
    text-align: center;
    position: relative;
    left:30%;
    top: 10px;
    border-radius:20px ;
    color: white;
    font-family: 'Roboto',sans-serif;
    box-shadow: 5px 10px #888888;
}
#inner{
    width: 600%;
    height: 400px;
    position: relative;
    border: 1px solid black;
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;

}
@keyframes slide{
    0%{
        left:0%;
    }
    20%{
        left:0%;
    }
    25%{
        left:-100%;
    }
    45%{
        left:-100%;
    }
    50%{
        left:-200%;
    }
    70%{
        left:-200%;
    }
    75%{
        left:-300%;
    }
    95%{
        left:-300%;
    }
    100%{
        left:-400%;
    }
}
.img_1{
    float: left;
    width: 100vw;
    height: 100%;
    position: relative;
}
img{
    width: 100%;
    height: 100%;
}
#imgvw{
    width: 90%;
}

.upper{
    position:absolute;
    top: 0px;
    left: 5%;
    color: white;
    background-color: rgba(0,0,0,0.5);
    font-size:3vw;
    font-style: italic;
    height: 100%;
    line-height: 400px;
    width: 25%;
    text-align: center;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
#logo{
    position: fixed;
    z-index: 1;
    width: 80px;
    height: 50px;
    left: 10px;
    background-color: rgba(228, 10, 10, 0.5);
    top: 150px;

}